:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    mat-form-field, mat-checkbox, .login, .alternate, mat-divider { width: 95%; }

    .alternate {
        display: flex;
        flex-flow: row nowrap;

        justify-content: center;

        margin: 0 0 1rem;

        button { margin: 0 0.5rem; }
    }
    
    .login {
        h2 { margin: 0.75rem 0; }
    }

    mat-checkbox { margin-bottom: 1rem; }
    mat-divider { margin: 1rem 0; }
}
