<mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput>
    <mat-icon matSuffix>mail_outline</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput>
    <mat-icon matSuffix>lock</mat-icon>
</mat-form-field>

<mat-checkbox>Remember me</mat-checkbox>

<button mat-raised-button color="primary" class="login"><h2>Login</h2></button>

<mat-divider></mat-divider>

<div class="alternate">
    <button mat-fab color="primary"><mat-icon svgIcon="apple"></mat-icon></button>

    <button mat-fab color="primary"><mat-icon svgIcon="facebook"></mat-icon></button>

    <button mat-fab color="primary"><mat-icon svgIcon="google"></mat-icon></button>
</div>

<button mat-button color="primary">Creat an account</button>

<button mat-button color="primary">Can't sign in?</button>