@import '~@angular/material/theming';
@import './colors.scss';
@include mat-core();

$users-primary: mat-palette($primary-palette);
$users-accent: mat-palette($accent-palette);

$users-warn: mat-palette($warn-palette);

$users-theme: mat-light-theme($users-primary, $users-accent, $users-warn);

@include angular-material-theme($users-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
